engine-strict=true
node-version=18.x
@jssprz:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
always-auth=true

# Fix for optional dependencies bug (https://github.com/npm/cli/issues/4828)
omit=optional
package-lock=true
fund=false
audit=false